/*
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #0074d9;
}

a:hover {
    text-decoration: underline;
}

ul, ol {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
*/
/* Comment Box Container */
.comment-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    position: relative;
    flex-direction: column;
}

.comment-username {
    font-weight: bold;
    color: #0074D9;
    text-decoration: none;
    margin-bottom: 5px;
}

.comment-content {
    color: #000;
    margin: 0;
}

.comment-likes {
    color: #000;
    margin: 5px 0;
}


 
  .post-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: relative; /* Position relative for absolute positioning */
}

.post-content {
    margin: 5px 0;
}

.post-username {
    font-weight: bold;
    color: #0074D9;
    text-decoration: none;
}

.post-username:hover {
    text-decoration: underline;
}




.comment-form {
    display: flex;
    margin-top: 10px;
}

.comment-input {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
}


.comment-button {
    border: none;
    background-color: #0074D9;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}
/* Upvote (Like) Button */
.upvote{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction:row;
    align-items: center;
    color: #828282;
}

.upvote:hover {
    color: #FF4500; /* Change color on hover (you can choose your own color) */
}

.upvote.arrow {
    font-size: 20px; /* Adjust the size as needed */
}

/* Downvote (Dislike) Button */
.downvote{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(180deg); /* Rotate the arrow for the downvote button */
    color: #828282;
}

.downvote:hover {
    color: #7193FF;
    color:lighs /* Change color on hover (you can choose your own color) */
}

.downvote.arrow {
    font-size: 20px; /* Adjust the size as needed */
}
 